/* colors */
:root{
    --blog-banner-background: #7d908dff;
	--blog-banner-text: rgb(179, 211, 205);

	--blog-posts-background: rgb(230, 238, 236);
	--blog-posts-text: #7d908dff;
	--blog-posts-href-text: rgb(81, 90, 90);
	--blog-posts-highlight-text: rgb(158, 199, 193);

	--blog-sidebar-background: rgb(214, 230, 226);
}

main.blogMain{
	background-color: var(--blog-posts-background);
}

.blogMain article{
	background-color: var(--blog-posts-background);
	border-width: 0;
	border-left-width: 2px;
	border-right-width: 2px;
	border-style: solid;
	border-color: var(--blog-banner-background);
}

.blog-posts{
	background-color: var(--blog-posts-background);
	padding: 5vmin;
}

.myposts{
	list-style: none;
	color: var(--blog-posts-text);
	font-family: 300 13px/20px 'Open Sans',sans-serif;
	font-weight: 400;
	font-size: 2vh;
}

.myposts li{
	border-style: solid;
	border-width: 0;
	border-top-width: 1px;

	padding-top: 1ex;
	padding-bottom: 25px;
}

.myposts a{
	text-decoration: none;
	color: var(--blog-posts-href-text);
}

.myposts a:hover{
	color: var(--blog-posts-highlight-text);
}

.myposts p{
	padding-top: .5ex;
	font-size: 83%;
}

p.smallDesc{
	font-size: 62%;
}

.default-banner {
	background-color: var(--blog-banner-background);
	padding-top: 2vh;
	padding-bottom: 2vh;
	box-sizing: border-box;
}

.default-banner h1{
	color: var(--blog-banner-text);
	font-family: 'Lato';
	font-size: 5vmin;
	font-weight: 200;
	
	padding-left: 2vh;
	padding-right: 2vh;

	max-height: 20vh;
	overflow: auto;
}

@media only screen and (max-width: 600px), only screen and (max-height: 600px) {
	.default-banner h1{
		font-weight: 300;
	}
}

.blog-sidebar{
	background-color: var(--blog-sidebar-background);
	padding: 2ex;
	font-size: 2vmin;
}

.blog-sidebar ul{
	/* padding-left: 1.5ex;
	padding-bottom: 1ex;
	padding-top: 1ex; */

	list-style: none;
	margin: 0;
}

.blog-sidebar li{
	padding: 1ex;

	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

.blog-sidebar a{
	text-decoration: none;
	color: var(--blog-posts-href-text);
}

.blog-sidebar a:hover{
	color: var(--blog-posts-highlight-text);
}

.blog-sidebar p{
	font-size: 1.7vh;
}

.blog-sidebar h2{
	padding: 5px;
	
	color: var(--post-text);
	font-family: 300 13px/20px 'Open Sans',sans-serif;
	font-weight: 400;
	font-size: 2.3vmin;

	border-style: solid;
	border-width: 0px;
	border-bottom-width: 1px;
}

.paginator{
	width: fit-content;
	margin: auto;
	margin-bottom: 1ex;
}

.paginator *{
	padding-right: 1ex;
}