/* class */
:root{
    --post-background: rgb(230, 238, 236);
	--post-text: #5E6E6C;
	--post-href-text: #5AB5A7;
	--post-highlight-text: #95D0C7;
}

.post{
	background-color: var(--post-background);
	padding: 5ex;

	color: var(--post-text);
	font-family: 300 13px/20px 'Open Sans',sans-serif;
	font-weight: 400;
	font-size: 1.7vh;
}

.post-header{
	padding-left: 0;
	padding-right: 0;
}

.post .post-header>h1, .post .post-header>h2{
	padding-top: 0.5em;
	padding-bottom: 0.5em;
	
	color: var(--post-text);
	font-family: 300 13px/20px 'Open Sans',sans-serif;
	font-weight: 400;
	font-size: 1.8vh;
}

.post .post-header{
	margin-bottom: 1ex;
}

.post h1, h2, h3{
	padding-top: 5px;
	padding-bottom: 5px;
	margin: 0px;
	
	color: var(--post-text);
	font-family: 300 13px/20px 'Open Sans',sans-serif;
	font-weight: 400;
}

.post h1{
	font-size: 2.3vh;
}

.post h2{
	font-size: 2.1vh;
	font-weight: 500;
}

.post h3{
	font-size: 1.9vh;
	font-weight: 500;
}

.post a{
	color: var(--post-href-text);
}

.post a:hover{
	color: var(--post-highlight-text);
}

.post p{
	padding-top: 0.5em;
	padding-bottom: 0.5em;
	text-align: justify;
}

.post img{
	/* fit image to use all (width - padding), with auto height and max of 50% of viewport height, */
	/* that ensures it never occupies more than half of the screen,                                */
	/* also we set fit to scale-down, so that on max height,                                       */
	/* the image can be scale down withour losing aspect ratio or center aligment                  */
	object-fit: scale-down;
	width: 100%;
	height: auto;
	max-height: 50vh;

	margin-top: 10px;
	margin-bottom: 10px;
	padding-left: 10%;
	padding-right: 10%;
}

/* relative, so we can inject the copy button later */
.post div.highlighter-rouge{
	position: relative;
}

/* top left copy button */
.post div.codeCopy{
	position: absolute;
	right: 0;
	top: 0;
}

/* copy button icon */
.codeCopy span.fa{
	font-size: 20px;
	padding: 10px;
	color: var(--post-text);
}

.codeCopy:hover span.fa{
	cursor: pointer;
	color: var(--post-highlight-text);
}

.post ul{
	padding-left: 30px;
	margin-top: 0.25em;
	margin-bottom: 0.25em;
	font-weight: 500;
}

.post li{
	padding-top: 0.3em;
	padding-bottom: 0.3em;
}

.post .content{
	border-style: solid;
	border-width: 0;
	border-top-width: 1px;
	padding-top: 1ex;
}

/* fix annoying bottom padding on code blocks */
pre.highlight code{
	display: inline-block;
}	

.highlight{
	border-radius: 1ex;
	padding: 1ex;
	margin: 0;
	margin-top: 0.5em;
	margin-bottom: 0.5em;
}

code {
	padding-top: .5ex;
	padding-bottom: .5ex;
	padding-left: 1ex;
	padding-right: 1ex;
	border-radius: 1ex;
  
	background-color: #2f3a39ff;
	color: lightsteelblue;

	/* font-weight: bold; */
}

.meta-button a{
	position: relative;
    display: block;
    width: 30px;
    height: 30px;
    border-bottom: 1px solid var(--banner-font);
    color: var(--banner-font);
	text-align: center;
}

.meta-button a:hover{
	border-bottom: 1px solid var(--post-highlight-text);
	color: var(--post-highlight-text);
}

.meta-button li {
	padding-left: 0.5ex;
	padding-right: 0.5ex;
}

.meta-button ul{
	margin: 0;
	padding: 0;
	display: inline-flex;
	list-style-type: none;
}