<div class="col-3 blog-sidebar justify-content-end">
    <!-- Authors -->
    <h2>Authors</h2>
    <ul>
        {% for author in site.authors %}
        <li>
            <a href="{{ author.url }}">{{author.name}}</a>
        </li>
        {% endfor %}
    </ul>
    
    <!-- Categories -->
    <h2>Categories</h2>
    <ul>
        {% for category in site.category %}
        <li>
            <a href="{{ category.url }}">{{ category.name }}</a>
        </li>
        {% endfor %}
    </ul>

    <!-- Menus -->
    <h2>Menus</h2>
    <ul>
        {% for menu in site.menus %}
        <li>
            <a href="{{ menu.url }}">{{ menu.name }}</a>
        </li>
        {% endfor %}
    </ul>    
</div>