<div>
    <div class="social text-center text-bottom">
        <ul>
            <li><a href="mailto:psilva.gomes.rogerio@gmail.com" ><i class="fa fa-envelope"></i></a></li>
            <li><a href="https://github.com/Paulo-Rogerio" ><i class="fa fa-github"></i></a></li>
            <li><a href="https://linkedin.com/in/psilva-rogerio" ><i class="fa fa-linkedin"></i></a></li>
            <li><a href="https://www.youtube.com/@pequi-tech" ><i class="fa fa-youtube"></i></a></li>
        </ul>
    </div>
</div>