<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1 user-scalable=no">    
    
    {% include meta.html %}

    <!-- <link  href="bootstrap/css/bootstrap.min.css" rel="stylesheet"> -->
    <link  href= "{{"lite-yt-embed/lite-yt-embed.css" | relative_url }}" rel="stylesheet">
    <script src= "{{"lite-yt-embed/lite-yt-embed.js" | relative_url}}" defer></script>
    <link  href= "{{"bootstrap/css/bootstrap.min.css" | relative_url }}" rel="stylesheet">
    <script src= "{{"jquery/jquery-3.2.1.slim.min.js" | relative_url}}" defer></script>
    <script src= "{{"popperjs/popper.min.js" | relative_url}}" defer></script>
    <script src= "{{"bootstrap/js/bootstrap.bundle.min.js" | relative_url}}" defer></script>
    
    <link href="{{"css/index.css" | relative_url}}" rel="stylesheet">
    
    <link href="{{"fonts/open-sans.css" | relative_url}}" rel="stylesheet" type="text/css">
    <link href="{{"fonts/lato.css" | relative_url}}" type="text/css" rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
       
    <link rel="shortcut icon" type="image/x-icon" href="{{"images/favicon.png" | relative_url}}"/>
</head>
<body>
    <div class="container-fluid">  

        {% include navbar.html %}
        
        <main role="main" class="pageMain">
            <article itemscope itemtype="https://schema.org/Article">
                
                <!-- banner, social and title -->
                <div class="row banner">
                    <div>
                        <h1 class="text-center text-uppercase banner-title">
                            Paulo <br> Rogério
                        </h1>
                        <p class="text-center banner-title">
                            DBRE | SRE | Linux | Kubernets | PostgreSQL
                        </p>
                    </div>
                    
                    <p class="text-center banner-title">Social media</p>
                    {% include social.html %}

                </div>
        
                <!-- present media, alt background color -->
                <div class="row sections">
                    <h2>Recent posts</h2>
                    <div class="section-body">
                        {% include cards.html %}
                    </div>
                </div>

            </article>
        </main>
        
    </div>
</body>
</html>
