$c: 'dark_green', #74875Aff;
$c: 'olive_dark', #A2AD85ff;
$c: 'olive', #ACBD86ff;
$c: 'olive_dry', #C1CC94ff;
$c: 'dry', #E6E5C7ff;
$c: 'light', #F1EFE2ff;
$c: 'oil', #FFEEC0ff;
$c: 'leaf_1', #BDCEA1ff;
$c: 'leaf_2', #DDE5C0ff;
$c: 'leaf_3', #EDF2D4ff;
