$c: 'rich_black_fogra_39', #0b090aff;
$c: 'eerie_black', #161a1dff;
$c: 'blood_red', #660708ff;
$c: 'ruby_red', #a4161aff;
$c: 'carnelian', #ba181bff;
$c: 'imperial_red', #e5383bff;
$c: 'silver_chalice', #b1a7a6ff;
$c: 'light_gray', #d3d3d3ff;
$c: 'cultured', #f5f3f4ff;
$c: 'white', #ffffffff;
