$c: 'skobeloff', #006466ff;
$c: 'midnight_green_eagle_green', #065a60ff;
$c: 'midnight_green_eagle_green_2', #0b525bff;
$c: 'midnight_green_eagle_green_3', #144552ff;
$c: 'charcoal', #1b3a4bff;
$c: 'prussian_blue', #212f45ff;
$c: 'space_cadet', #272640ff;
$c: 'dark_purple', #312244ff;
$c: 'russian_violet', #3e1f47ff;
$c: 'russian_violet_2', #4d194dff;