---
title: Articles
layout: default
---

<div class="col-9 blog-posts justify-content-start">
    <!-- Paginator -->
    {% include paginator.html %}
    
    <ul class="myposts">
        {% for post in paginator.posts %}
        <li>
            <a href="{{ post.url }}">{{ post.title }}</a>
            <p>
                {{ post.date | date: "%-d %b %Y, %H:%M" }} | 
                Tempo de leitura: <span name="readingTime" id="{{ post.url }}">#</span> | 
                Visualizações: <span name="viewCounter" id="{{ post.url }}">#</span>
            </p>
            <p class="smallDesc">{{ post.content | strip_html | truncatewords: 50 }}</p>
        </li>
        {% endfor %}
    </ul>
    
    <!-- Paginator -->
    {% include paginator.html %}
</div>

{% include blog-sidebar.html %}